.margenes{
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;

}

h3 
{
	color: #F8F9F9;
}


.titulos {
	color: #17202A;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.centrado{
	margin:10px auto;
	display:block;
    }


.zoo:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}

.sat:hover
{
	filter: saturate(280%);
}

.color 
{
 background-color: #239B56;
}

